.heading {
  font-family: "Overlock", cursive;
  font-size: 48px;
  font-weight: 700;
  color: #14216b;
  line-height: 1.4;
  margin: 0;
}
.degree-unit {
  font-size: 28px;
  position: relative;
  top: -22px;
}
.celsius-unit {
  padding-right: 4px;
}
.celsius-unit:hover,
.fahrenheit-unit:hover {
  color: #14216b;
}

.fahrenheit-unit {
  padding-left: 4px;
}
.inactive-unit {
  color: #9daebe;
}
.city-choices {
  list-style-type: none;
  margin: 20px 0 50px 4px;
  padding: 0;
}
.city-choice-item {
  display: inline;
  padding: 0 8px;
}
.city-choice-link {
  text-decoration: none;
  color: #1e319e;
}
.city-choice-link:hover {
  color: #576ff4;
}
.date-time {
  margin: 10px 0 0 0;
}
.weather-parameters {
  padding: 20px;
  background: #f5f7fe;
  border-radius: 16px;
}
.para-icon {
  padding: 0 8px;
  color: #14216b;
}
.para-icon-12 {
  padding: 0 10px;
  color: #14216b;
}
.para-value {
  padding-left: 36px;
  font-weight: 700;
}
.card-content-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 4px 0 0;
}
.card-title-forecast {
  font-family: "Overlock", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #14216b;
  /* color: #f5f7fe; */
  line-height: 1.6;
  margin: 0;
}
.card-custom:hover .card-body .card-title-forecast {
  color: #f5f7fe;
}
.card-custom:hover .card-body .highest-cel,
.card-custom:hover .card-body .highest-fah {
  color: #ed5e74;
}

.card-custom:hover .card-body .lowest-cel {
  color: #8798f7;
}

.card-custom:hover .card-body .lowest-fah {
  color: #8798f7;
}
.highest-lowest-temp {
  margin: 4px 0 0 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}
.highest-cel,
.highest-fah {
  color: hsl(351, 72%, 44%);
  /* color: #ed5e74; */
}
.lowest-cel,
.lowest-fah {
  color: hsl(231, 68%, 53%);
}
.card-custom {
  width: 160px;
  /* background: #f5f7fe; */
  /* background: #576ff4; */
  /* background: #d5dbfc; */
  background: #cdd4fc;
  transition: all 150ms ease-in-out;
}

.card-custom:hover {
  background: #14216b;
  box-shadow: 0px 8px 16px rgba(14, 25, 75, 0.15);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #14216b;
}
.click-prevention {
  pointer-events: none;
}
.btn-current-location,
.btn-current-location:focus {
  background: #576ff4;
  border: none;
}

.btn-current-location:hover {
  background: #14216b;
  border: 0;
}

.error-style {
  margin: 8px 0 0 10px;
  color: #de344e;
}
.weather-description {
  text-transform: capitalize;
}
.main {
  max-width: 1100px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 20px;
}
.wrapper {
  padding: 25px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 32px rgba(14, 25, 75, 0.1);
}

/* @media (max-width: 768px)  */
